html {
  font-size: 75px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 37.5px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 38.4px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 40px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 41.4px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 42.4px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 54px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 72px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px;
  }
}
html {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}
#app {
  min-width: 320px;
  width: 10rem;
  height: 100vh;
  margin: 0px auto;
  padding-top: 1.17333333rem;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Arial, Helvetica, STHeiTi, sans-serif;
  position: relative;
}
#app .search-content {
  width: 10rem;
  height: 1.17333333rem;
  background-image: url(../img/nav_bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0.45333333rem;
  box-sizing: border-box;
}
#app .search-content .classify {
  width: 0.48rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-right: 0.45333333rem;
}
#app .search-content .classify > img {
  width: 0.48rem;
  height: 0.8rem;
}
#app .search-content .search {
  flex: 1;
  height: 1.17333333rem;
  position: relative;
}
#app .search-content .search .search-icon {
  width: 0.48rem;
  height: 0.48rem;
  position: absolute;
  left: 0.26666667rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
#app .search-content .search input {
  width: 100%;
  height: 0.8rem;
  font-size: 0.56rem;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 0.4rem;
  padding-left: 0.85333333rem;
  padding-right: 0.26666667rem;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  color: #757575;
}
#app .search-content .login {
  width: 0.48rem;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-left: 0.45333333rem;
}
#app .search-content .login > img {
  width: 0.48rem;
  height: 0.8rem;
}
#app .advertise {
  width: 100%;
  height: 3.04rem;
  background-image: url(../img/banner_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#app .advertise > div {
  width: 9.36rem;
  height: 100%;
  margin: 0px auto;
  border-radius: 0.21333333rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
#app .advertise > div img {
  display: block;
  width: 100%;
}
#app .hor {
  width: 100%;
  height: 3.73333333rem;
  display: flex;
}
#app .hor img {
  flex: 1;
}
#app .nav {
  width: 100%;
  height: 3.78666667rem;
}
#app .nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#app .nav ul > li {
  width: 2rem;
  height: 1.89333333rem;
  padding-top: 0.32rem;
}
#app .nav ul > li > img {
  width: 1.12rem;
  height: 1.12rem;
  display: block;
  margin: 0px auto;
}
#app .nav ul > li > span {
  font-size: 12px;
  line-height: 0.56rem;
  width: 100%;
  height: 0.56rem;
  display: block;
  text-align: center;
}
